    <!-- Start about section -->
    <section class="about-section section-gap-full relative" id="about-section">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-lg-6 col-md-12 about-left">
                    <img class="img-fluid" src="/static/img/app-img.png" alt="">
                </div>
                <div class="col-lg-5 col-md-7 about-right">
                    <h3>What Is Allstats ?</h3>
                    <h1>The Most Beautiful Monitoring API and Website</h1>
                    <ul>
                         <li class="d-flex">
                            <div class="icon">
                                <span class="ti-layout-media-center-alt"></span>
                            </div>
                           <div class="details">
                                <h4>Notification</h4>
                                <p>
                                    Allstats send a mail, desktop notification and SMS .
                                </p>
                            </div>
                        </li>
                        <li class="d-flex">
                            <div class="icon">
                                <span class="ti-crown"></span>
                            </div>
                            <div class="details">
                                <h4>Premium Statistics</h4>
                                <p>
                                    Allstats, offers the best charts and detailed reports 
                                </p>
                            </div>
                        </li>
                        <li class="d-flex">
                            <div class="icon">
                                <span class="ti-headphone-alt"></span>
                            </div>
                            <div class="details">
                                <h4>Excellent Support</h4>
                                <p>
                                   You're backed up by rich help content, smart people and support two different languages.
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="floating-shapes">
            <span data-parallax='{"x": 150, "y": -20, "rotateZ":500}'>
                <img src="/static/img/shape/fl-shape-1.png" alt="">
            </span>
            <span data-parallax='{"x": 250, "y": 150, "rotateZ":500}'>
                <img src="/static/img/shape/fl-shape-2.png" alt="">
            </span>
            <span data-parallax='{"x": -180, "y": 80, "rotateY":2000}'>
                <img src="/static/img/shape/fl-shape-3.png" alt="">
            </span>
            <span data-parallax='{"x": -20, "y": 180}'>
                <img src="/static/img/shape/fl-shape-4.png" alt="">
            </span>
            <span data-parallax='{"x": 300, "y": 70}'>
                <img src="/static/img/shape/fl-shape-5.png" alt="">
            </span>
            <span data-parallax='{"x": 250, "y": 180, "rotateZ":1500}'>
                <img src="/static/img/shape/fl-shape-6.png" alt="">
            </span>
            <span data-parallax='{"x": 180, "y": 10, "rotateZ":2000}'>
                <img src="/static/img/shape/fl-shape-7.png" alt="">
            </span>
            <span data-parallax='{"x": 60, "y": -100}'>
                <img src="/static/img/shape/fl-shape-9.png" alt="">
            </span>
            <span data-parallax='{"x": -30, "y": 150, "rotateZ":1500}'>
                <img src="/static/img/shape/fl-shape-10.png" alt="">
            </span>
        </div>
    </section>
    <!-- End about section -->