<!-- Start explore section -->
    <section class="explore-section section-gap-full relative">
        <div class="overlay overlay-bg"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 explore-left">
                 
                    <h3>Our customers are everywhere.</h3>
                    <h1>So are we.</h1>
                    <p>
                        With an industry-leading checkpoint servers, our monitoring empowers you to find out where in the world your website’s latency is the highest, so you can take action in areas where it’s most necessary.
                    </p>
                    <div class="d-flex counter-wrap">
                        <div class="single-counter">
                            <h2>0.0K+</h2>
                            <p>Download</p>
                        </div>
                        <div class="single-counter">
                            <h2>0.0K+</h2>
                            <p>Review</p>
                        </div>
                        <div class="single-counter">
                            <h2>0.0K+</h2>
                            <p>Active User</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 explore-right"></div>
            </div>
        </div>
    </section>
    <!-- End explore section -->