<!-- Start screenshot section -->
    <section class="screenshot-section section-gap-full">
        <div class="container">
            <div class="section-title">
                <h2 class="text-center">App Screenshots</h2>
            </div>
            <div class="row">
                <div class="screenshot_slider owl-carousel" id="screenshot-carusel">
                    <div class="item">
                        <img src="/static/img/screen/screen.jpg" alt="" title="">
                    </div>
                    <div class="item">
                        <img src="/static/img/screen/screen.jpg" alt="" title="">
                    </div>
                    <div class="item">
                        <img src="/static/img/screen/screen.jpg" alt="" title="">
                    </div>
                    <div class="item">
                        <img src="/static/img/screen/screen.jpg" alt="" title="">
                    </div>
                    <div class="item">
                        <img src="/static/img/screen/screen.jpg" alt="" title="">
                    </div>
                    <div class="item">
                        <img src="/static/img/screen/screen.jpg" alt="" title="">
                    </div>
                    <div class="item">
                        <img src="/static/img/screen/screen.jpg" alt="" title="">
                    </div>
                    <div class="item">
                        <img src="/static/img/screen/screen.jpg" alt="" title="">
                    </div>
                    <div class="item">
                        <img src="/static/img/screen/screen.jpg" alt="" title="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End screenshot section -->