    <!-- Start service section -->
    <section class="service-section section-gap-full">
        <div class="container">
            <div class="row">
                <div class="col-lg-4  col-md-6 pb-30">
                    <div class="single-service">
                        <i class="ti-user"></i>
                        <h4>Executive Admin</h4>
                        <p>
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid vel ipsum voluptas
                            molestias.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4  col-md-6 pb-30">
                    <div class="single-service">
                        <i class="ti-announcement"></i>
                        <h4>Marketing Social Media</h4>
                        <p>
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid vel ipsum voluptas
                            molestias.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4  col-md-6 pb-30">
                    <div class="single-service">
                        <i class="ti-bar-chart"></i>
                        <h4>Project Management</h4>
                        <p>
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid vel ipsum voluptas
                            molestias.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 ">
                    <div class="single-service">
                        <i class="ti-palette"></i>
                        <h4>Design Service</h4>
                        <p>
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid vel ipsum voluptas
                            molestias.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 ">
                    <div class="single-service">
                        <i class="ti-agenda"></i>
                        <h4>Book Keeping</h4>
                        <p>
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid vel ipsum voluptas
                            molestias.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 ">
                    <div class="single-service">
                        <i class="ti-pencil-alt"></i>
                        <h4>Writing & Editing</h4>
                        <p>
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid vel ipsum voluptas
                            molestias.
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- End service section -->