   <!-- Start skill section -->
    <section class="skill-section">
        <div class="container">
            <div class="row align-items-center section-gap-full">
                <div class="col-md-6 skill-left">
                    <div class="prog_container">
                        <div class="prog_text">
                            <span class="title">
                                wordpress
                            </span>
                            <span class="precent" style="left:85%">85%</span>
                        </div>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="85"
                                aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>

                    <div class="prog_container">
                        <div class="prog_text">
                            <span class="title">
                                gulp
                            </span>
                            <span class="precent" style="left:95%">95%</span>
                        </div>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 95%;" aria-valuenow="95"
                                aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>

                    <div class="prog_container">
                        <div class="prog_text">
                            <span class="title">
                                sass
                            </span>
                            <span class="precent" style="left:99%">99%</span>
                        </div>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 99%;" aria-valuenow="99"
                                aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>

                    <div class="prog_container">
                        <div class="prog_text">
                            <span class="title">
                                vue js
                            </span>
                            <span class="precent" style="left:75%">75%</span>
                        </div>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="75"
                                aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 skill-right">
                    <img class="img-fluid" src="img/banner2.jpg" alt="">
                </div>
            </div>
        </div>
    </section>
    <!-- End skill section -->