   <!-- Start team section -->
    <section class="team-section section-gap-full">
        <div class="container">
            <div class="section-title">
                <h2 class="text-center">Our Team</h2>
                <p class="text-center">Intoducing the Potential Team.</p>
            </div>
            <div class="row">
                <div class="team-carusel  owl-carousel" id="team-carusel">
                    <div class="single-team item">
                        <img class="/static/img-fluid" src="/static/img/team.png" alt="">
                        <div class="team-content">
                            <h4>Kev</h4>
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-github"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-linkedin"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="single-team item">
                        <img class="/static/img-fluid" src="/static/img/team.jpg" alt="">
                        <div class="team-content">
                            <h4>Golang</h4>
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-github"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-linkedin"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="single-team item">
                        <img class="/static/img-fluid" src="/static/img/linux.png" alt="">
                        <div class="team-content">
                            <h4>Linux</h4>
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-github"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-linkedin"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="single-team item">
                        <img class="/static/img-fluid" src="/static/img/github.png" alt="">
                        <div class="team-content">
                            <h4>Github</h4>
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-github"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-linkedin"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End team section -->