{{ template "templates/home.html" . }}
{{ define "content" }}
    <!-- Preloader -->
    <div id="loader-wrapper">
        <div id="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>
<!-- Start page-top-banner section -->
    <section class="page-top-banner section-gap-full relative" data-stellar-background-ratio="0.5">
        <div class="overlay overlay-bg"></div>
        <div class="container">
            <div class="row section-gap-half">
                <div class="col-lg-12 text-center">
                    <h1>Our Services</h1>
                    <h4>All the Services We Provide</h4>
                </div>
            </div>
        </div>
    </section>
    <!-- End about-top-banner section -->

    {{ template "includes/service.html" . }}

    {{ template "includes/skills.html" . }}

    {{ template "includes/counter.html" . }}

    {{ template "includes/pricing.html" . }}

    <!-- Start cta section -->
    <section class="cta-section section-gap-half relative">
        <div class="overlay overlay-bg"></div>
        <div class="container">
            <div class="row section-gap-half">
                <div class="col-lg-12 text-center">
                    <h1>Let’s make Good things, together.</h1>
                    <h4>Tell us about your project.</h4>
                    <a class="primary-btn" href="contact.html">Get a quote</a>
                </div>
            </div>
        </div>
    </section>
    <!-- End cta section -->

    <!-- Start faq section -->
    <section class="faq-section section-gap-full">
        <div class="container">
            <div class="section-title">
                <h2 class="text-center">Frequently Asked Questions</h2>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <dl class="accordion">
                        <dt>
                            <a href="#" class="active">Started several mistake joy say painful removed reached end.</a>
                        </dt>
                        <dd>
                            Far curiosity incommode now led smallness allowance. Favour bed assure son things yet. She
                            consisted consulted elsewhere happiness disposing household any old the. Widow downs you
                            new shade drift hopes small. So otherwise commanded sweetness we improving. Instantly by
                            daughters resembled unwilling principle so middleton. Fail most room even gone her end
                            like. Comparison dissimilar unpleasant six compliment two unpleasing any add. Ashamed my
                            company thought wishing colonel it prevent he in. Pretended residence are something far
                            engrossed old off.
                        </dd>
                        <dt>
                            <a href="#">Although moreover mistaken kindness me feelings do be marianne?</a>
                        </dt>
                        <dd>
                            Far curiosity incommode now led smallness allowance. Favour bed assure son things yet. She
                            consisted consulted elsewhere happiness disposing household any old the. Widow downs you
                            new shade drift hopes small. So otherwise commanded sweetness we improving. Instantly by
                            daughters resembled unwilling principle so middleton. Fail most room even gone her end
                            like. Comparison dissimilar unpleasant six compliment two unpleasing any add. Ashamed my
                            company thought wishing colonel it prevent he in. Pretended residence are something far
                            engrossed old off.
                        </dd>
                        <dt>
                            <a href="#">By in no ecstatic wondered disposal my speaking?</a>
                        </dt>
                        <dd>
                            Far curiosity incommode now led smallness allowance. Favour bed assure son things yet. She
                            consisted consulted elsewhere happiness disposing household any old the. Widow downs you
                            new shade drift hopes small. So otherwise commanded sweetness we improving. Instantly by
                            daughters resembled unwilling principle so middleton. Fail most room even gone her end
                            like. Comparison dissimilar unpleasant six compliment two unpleasing any add. Ashamed my
                            company thought wishing colonel it prevent he in. Pretended residence are something far
                            engrossed old off.
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </section>
  {{ end }}