{{ template "../templates/panel.html" . }}
{{ define "content" }}
<div class="content">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="card card-user">
                <div class="card-body">
                    <p class="card-text">
                        <div class="author">
                            <div class="block block-one"></div>
                            <div class="block block-two"></div>
                            <div class="block block-three"></div>
                            <div class="block block-four"></div>
                            <a href="javascript:void(0)">
                                <img class="avatar" src="/static/img/team.png" alt="...">
                                {{ if .Name}}
                                    <h5 class="title">{{ .Name }}</h5>
                                {{end}}
                            </a>
                </div>
                </p>
                <div class="card-description">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card mb-4">
                                <div class="card-header">
                                    <b>Account Information</b>
                                </div>
                                <div class="list-group" style="margin-top:15%">
                                    {{ if .Name}}
                                        <div class="list-group-item text-center text-truncate">
                                            {{ .Name }} - Free Account
                                        </div>
                                        <div class="list-group-item text-center text-truncate">
                                            {{ .Email }}
                                        </div>
                                        <div class="list-group-item text-center text-truncate">
                                            Phone - None
                                        </div>
                                    {{end}}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card-header"><b>Account Features</b></div>
                                <div class="list-group" style="margin-top:15%">
                                    <div class="list-group-item list-group-item-action flex-column align-items-start">
                                        <div class="d-flex w-100 justify-content-between">
                                            <p class="mb-0">Account Number :</p>
                                            <p class="mb-0"><b>-</b></p>
                                        </div>
                                    </div>
                                    <div class="list-group-item list-group-item-action flex-column align-items-start">
                                        <div class="d-flex w-100 justify-content-between">
                                            <p class="mb-0">Account Type :</p>
                                            <p class="mb-0"><b>Individual</b></p>
                                        </div>
                                    </div>
                                    <div class="list-group-item list-group-item-action flex-column align-items-start">
                                        <div class="d-flex w-100 justify-content-between">
                                            <p class="mb-0">Status :</p>
                                            <p class="mb-0"><b>Standart</b></p>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            <div class="card-footer">
                <hr>
            </div>
        </div>
        </div>
    </div>
    <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="card mb-4">
                    <div class="card-header">
                        <b>İşlemler</b>
                    </div>
                    <div class="card-body pb-2" style="margin-left: 10%">
                        <div class="row">
                            <div class="col-md-6">
                                <button class="btn btn-primary mb-4 disabled"  data-toggle="modal" data-target="#emailModal" style="background-color: whitesmoke">
                                    <div class="m-4">
                                        <h4><i class="icon-ios-email"></i>Update Email Address</h4>
                                    </div>
                                </button>
                                <div class="modal fade" id="emailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
                                    <div class="modal-dialog modal-lg" role="document">
                                        <div class="modal-content" >
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Change Email Address</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="form-group">
                                                    <label>Your Password</label>
                                                    <input type="password" name="password" class="form-control" placeholder="Şifre">
                                                </div>
                                                <div class="form-group">
                                                    <label>Current Email Address</label>
                                                    <input class="form-control" readonly aria-describedby="emailHelp" value="{{.Userinfo.Email}}">
                                                </div>
                                                <div class="form-group">
                                                    <label>New Email Address </label>
                                                    <input type="email" name="email" class="form-control" aria-describedby="emailHelp" placeholder="Yeni E-posta">
                                                    <small class="form-text text-muted"><b>Note:</b> When change the email address, cannot use old email address!  </small>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                <button type="button" class="btn btn-primary">Create!</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <button class="btn btn-primary mb-4 disabled" data-toggle="modal" data-target="#passwordModal" >
                                    <div class="m-4">
                                        <h4><i class="icon-ios-email"></i>Update User Password</h4>
                                    </div>
                                </button>
                                <div class="modal fade" id="passwordModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
                                    <div class="modal-dialog modal-lg" role="document">
                                        <div class="modal-content" >
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Change Email Address</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="form-group">
                                                    <label>Your Password</label>
                                                    <input type="password" name="password" class="form-control" placeholder="Mevcut şifreniz">
                                                    <small class="form-text text-muted"><b>Note:</b> Only enter current password!</small>
                                                </div>
                                                <div class="form-group">
                                                    <label>New User Password</label>
                                                    <input type="password" name="newpassword" class="form-control" placeholder="Yeni şifrenizi yazınız">
                                                </div>
                                                <div class="form-group">
                                                    <label>New User Password Verification</label>
                                                    <input type="password" name="repassword" class="form-control" placeholder="Yeni şifrenizi tekrar yazınız">
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                <button type="button" class="btn btn-primary">Create!</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <button class="btn btn-primary mb-4 disabled"  data-toggle="modal" data-target="#emailModal" style="background-color: whitesmoke">
                                    <div class="m-4">
                                        <h4><i class="icon-ios-email"></i>Activate 2FA Protection</h4>
                                    </div>
                                </button>
                            </div>
                            <div class="col-md-6">
                                <button class="btn btn-primary disabled"  data-toggle="modal" data-target="#emailModal" style="background-color: whitesmoke">
                                    <div class="m-4">
                                        <h4><i class="icon-ios-email"></i>Update Phone Number</h4>
                                    </div>
                                </button>
                            </div>
                            <div class="col-md-6">
                                <button class="btn btn-primary mb-4 disabled"  data-toggle="modal" data-target="#emailModal" style="background-color: whitesmoke">
                                    <div class="m-4">
                                        <h4><i class="icon-ios-email"></i>Update Email Address</h4>
                                    </div>
                                </button>
                            </div>
                            <div class="col-md-6">
                                <button class="btn btn-primary mb-4 disabled"  data-toggle="modal" data-target="#emailModal" style="background-color: whitesmoke">
                                    <div class="m-4">
                                        <h4><i class="icon-ios-email"></i>View Recent Information</h4>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}