{{ template "../../templates/home.html" . }}
{{ define "content" }}
<body>
<!-- Preloader -->
<div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
</div>
<section class="contact-section contact-page-section padding-top-120" id="contact-section">
    <div class="container">
        <div class="row justify-content-center form-row">
            <div class="col-lg-3">
                <div class="section-title">
                    <h2 class="text-center">Login Now!</h2>
                    <p class="text-center">For manage servers</p>
                </div>
            </div>
            <div class="col-lg-9">
                <form accept-charset="utf-8" role="form" class="form-horizontal" method="POST" action='{{urlfor "LoginController.Login"}}'>
                {{ .xsrfdata }}

                {{template "panel/alert.html" .}}
                    <div class="row contact-form-wrap justify-content-center">
                        <div class="col-md-6 contact-email form-col">
                            <input name="Email" id="mail" class="form-control" type="Email" placeholder="E-mail*" onfocus="this.placeholder=''" onblur="this.placeholder='Email*'" value="{{index .Params "Email"}}">
                        </div>
                        <div class="col-md-6 contact-name form-col">
                            <input class="form-control" placeholder="Password*" name="Password" value="{{index .Params "Name"}}" type="password" required id="inputName" placeholder="Name*" onfocus="this.placeholder=''" onblur="this.placeholder='Name*'" required pattern=".{6,}"  id="inputPassword"/>
                        </div>
                        <input class="btn-block primary-btn" type="submit" value="Login">
                    </div>
                </form>
                <div class="panel-footer clearfix text-center" >
                    <p class="text-center">For a free beta acoount</p>
                    <a href='{{urlfor "LoginController.Signup"}}' class="btn btn-light"> Sign Up </a>
                </div>
            </div>
        </div>
    </div>
</section>

{{ end }}
