{{ template "../../templates/home.html" . }}
{{ define "content" }}
<body>
<!-- Preloader -->
<div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
</div>
<section class="contact-section contact-page-section padding-top-120" id="contact-section">
        <div class="container">
            <div class="row justify-content-center form-row">
                <div class="col-lg-3">
                    <div class="section-title">
                        <h2 class="text-center">Sign Up Now!</h2>
                        <p class="text-center">for a free beta account</p>
                    </div>
                </div>
                <div class="col-lg-9">
                    <form accept-charset="utf-8" role="form" class="form-horizontal" method="POST" action='{{urlfor "LoginController.Signup"}}'>
                      {{ .xsrfdata }}

                      {{template "panel/alert.html" .}}
                        <div class="row contact-form-wrap justify-content-center">
                            <div class="col-md-6 contact-name form-col">
                                <input class="form-control" placeholder="Username*" name="Name" value="{{index .Params "Name"}}" type="text" required id="inputName" placeholder="Name*"
                                    onfocus="this.placeholder=''" onblur="this.placeholder='Name*'"/>
                            </div>
                            <div class="col-md-6 contact-email form-col">
                                <input name="Email" id="mail" class="form-control" type="email" placeholder="E-mail*"
                                    onfocus="this.placeholder=''" onblur="this.placeholder='Email*'">
                            </div>
                            <div class="col-md-6 contact-name form-col">
                                <input class="form-control" placeholder="Password*" name="Password" value="{{index .Params "Name"}}" type="password" required id="inputName" placeholder="Name*"
                                    onfocus="this.placeholder=''" onblur="this.placeholder='Name*'" required pattern=".{6,}"  id="inputPassword"/>
                            </div>
                            <div class="col-md-6 contact-email form-col">
                                <input name="Repassword" id="mail" class="form-control" type="password" placeholder="Password Confirm*"
                                    onfocus="this.placeholder=''" onblur="this.placeholder='Email*'" required pattern=".{6,}"  id="inputPassword">
                            </div>
                            <button class="primary-btn btn-block">Sign Up Now!</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

{{ end }}